@using GestionDeCursos.Web.Helpers
@using GestionDeCursos.Data.Helpers

@model GestionDeCursos.Data.Models.Applicants

@{
    ViewData["Title"] = "Details";
    var showButton = Html.HasRole(GlobalHelper.Role.Administrator) || Html.HasRole(GlobalHelper.Role.Instructor);
}

<div class="card">
    <div class="card-header">
        <h4>Applicant Details</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(m => m.Nombre)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(m => m.Nombre)
            </dt>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(m => m.Apellido)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(m => m.Apellido)
            </dt>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(m => m.Dni)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(m => m.Dni)
            </dt>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(m => m.Nacimiento)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(m => m.Nacimiento)
            </dt>

            @if (!string.IsNullOrWhiteSpace(Model.FichaPdfMongoFileId))
            {
                <dt class="col-sm-12">
                    <a href="@Url.Action("DownloadPDF", "Applicants", new{id = Model.Id})">Download PDF File</a>
                </dt>
            }
        </dl>
    </div>
    <div class="card-footer">
        @if (showButton)
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-primary rounded-0"><i class="fas fa-edit"></i> Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-danger rounded-0"><i class="fas fa-trash-alt"></i> Delete</a>
        }
        <a asp-action="Index" class="btn btn-sm btn-primary rounded-0"><i class="fas fa-backward"></i> Back to List</a>
    </div>
</div>
